* {
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #ffe202;
}

h1 {
  font-family: 'Helvetica';
  font-size: 24pt;
  font-weight: bold;
  padding: 20px;
}

.container {
  background-color: #0ba0f0;
  width: 1024px;
  margin: 0 auto;
  height: 100vh;
}

.quiz-questions {
  font-family: 'Helvetica';
  font-size: 16pt;
  padding: 10px;
}

.timer{
  font-family: 'Helvetica';
  font-size: 16pt;
  font-weight: bold;
  padding-top: 20px;
}

.mid-time{
  color: orange;
}

.low-time{
  color:red;
}

.success {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 20pt;
  padding: 20px;

}